<div class="row top-padding">
	<div class="col-sm-12">
		<h3>Введите ссылку</h3>
		<form id="vm.addDeviceForm" name="vm.addDeviceForm">
			<div class="row">
				<div class="form-group col-sm-10">
					<input maxlength="256" type="text" ng-model="vm.originalUrl" style="width: 100%;" required />
				</div>
				<div class="col-sm-2">
					<img src="/Content/Images/Loading_icon.gif" ng-show="vm.isLoading" /><a href="javascript:void(0)" ng-click="vm.saveDevice()" ng-show="!vm.isLoading">Сжать</a>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-12 error" ng-show="vm.isFormInValid()">Введите ссылку</div>
				<div class="form-group col-sm-12 error">{{vm.status}}</div>
			</div>
		</form>
	</div>
	<div class="col-sm-12" ng-show="vm.originalSavedUrl">
		Сжатая ссылка для <b>{{vm.originalSavedUrl}}</b> : <a target="_blank" href="{{vm.shortUrl}}">{{vm.shortUrl}}</a>
	</div>
</div>